* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #444;
    text-shadow: 1px 1px 2px #ddd;
}

.button-container {
    display: flex;
    gap: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    width: 200px; /* Consistent button width */
}

#btn-start {
    background-color: #28a745;
    color: #fff;
}

#btn-stop {
    background-color: #dc3545;
    color: #fff;
}

/* Button hover effects */
button:hover {
    transform: scale(1.05);
}

#btn-start:hover {
    background-color: #218838;
}

#btn-stop:hover {
    background-color: #c82333;
}

button:active {
    transform: scale(0.98);
}
